# Flask and dependencies
Flask==2.3.3
Flask-Cors==4.0.0

# Image processing
opencv-python-headless==4.8.0.76
Pillow==10.0.1

# Machine Learning
tensorflow==2.13.0
numpy==1.24.3

# Other dependencies
gunicorn==22.0.0


